In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from pandas.plotting import scatter_matrix
from sklearn.impute import SimpleImputer
import numpy as np

housing = pd.read_csv('housing.csv')


train_set , test_set = train_test_split(housing, test_size=0.2, random_state= 42)
train_set.shape
train_set.head(6)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
14196,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,103000.0,NEAR OCEAN
8267,-118.16,33.77,49.0,3382.0,787.0,1314.0,756.0,3.8125,382100.0,NEAR OCEAN
17445,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563,172600.0,NEAR OCEAN
14265,-117.11,32.69,36.0,1421.0,367.0,1418.0,355.0,1.9425,93400.0,NEAR OCEAN
2271,-119.80,36.78,43.0,2382.0,431.0,874.0,380.0,3.5542,96500.0,INLAND
17848,-121.86,37.42,20.0,5032.0,808.0,2695.0,801.0,6.6227,264800.0,<1H OCEAN

In [2]:
df = test_set.copy()
df_lable = df['median_house_value'].copy()
df = df.drop('median_house_value' , axis = 1)
df_num = df.drop('ocean_proximity' , axis = 1)
imputer = SimpleImputer(missing_values=np.nan , strategy='most_frequent')
imputer.fit(df_num)
X = imputer.transform(df_num)
df_num_impute_tr = pd.DataFrame(X , columns=df_num.columns)
df_num_impute_tr.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-119.01,36.06,25.0,1505.0,256.0,1392.0,359.0,1.6812
1,-119.46,35.14,30.0,2943.0,256.0,1565.0,584.0,2.5313
2,-122.44,37.80,52.0,3830.0,256.0,1310.0,963.0,3.4801
3,-118.72,34.28,17.0,3051.0,256.0,1705.0,495.0,5.7376
4,-121.93,36.62,34.0,2351.0,256.0,1063.0,428.0,3.7250

In [7]:
T_rooms , T_bedrooms , 	population , households = 3, 4, 5, 6
class CombinedAttributesAdder(BaseEstimator, TransformerMixin) :
    def fit(self, x, y=None):
        return self
    def transform(self, x, y=None):
        rooms_per_household = X[: , T_rooms] / X[: , households]
        population_per_household = X[: , population] / X[: , households]
        bedrooms_per_rooms = X[: , T_bedrooms] / X[: , T_rooms]
        return np.c_[X, rooms_per_household , population_per_household , bedrooms_per_rooms]
custom = CombinedAttributesAdder()
data_custom_tr_tmp = custom.transform(df_num_impute_tr.value)
data_custom_tr = pd.DataFrame(data_custom_tr_tmp)
columns = list(df_num_impute_tr.columns)
columns.append('rooms_per_household')    
columns.append('population_per_household')    
columns.append('bedrooms_per_rooms')
data_custom_tr.columns = columns
data_custom_tr.head(10)

NameError: name 'BaseEstimator' is not defined